.added-course{
  position: relative;
  justify-content: center;
  color: brown;
  text-align: center;
  
}
.added-course h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}
.added-course input{
  padding: 20px 100px;
}
.course-add{
  padding: 16px;
  background-color: brown;
  font-size: 20px;
  color: aliceblue;
}
.added-course li{
  font-size: 29px;
  color: blue;
}
.course-del{
  color: aliceblue;
  border: none;
  background-color: darkred;
}
.course-next{
  color: aliceblue;
  border: none;
  background-color: rgb(0, 125, 139);
}