/* Styles for QueryComponent */
.query-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

.query-text {
  font-weight: bold;
  margin-bottom: 5px;
}

.reply-input {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
}

/* Add more styles as needed */
.query-container p{
  font-size: 22px;
}

.query{
  position: relative;
  background-color: bisque;
}
.query-asked{
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkred;
}
.query-reply{
  position: relative;
  border: none;
  background-color: rgb(59, 63, 70);
  color: aliceblue;
}
.query-delete{
position: relative;
border: none;
background-color: darkred;
color: aliceblue;
}