.contact{
    position: relative;
    background-color: #200E3A;
color: rgb(255, 255, 255);
    width:80%;
    padding:30px 40px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    top:100px;
    left:60px;
}