.test-chosen-heading{
    position: relative;
    left:580px;
    top:1px;
    color: rgb(175, 49, 87);
    font-weight: bolder;
    font-size: 40px;
}
.q{
    position: relative;
    color: rgb(8, 7, 78);
    font-size: 30px;
}
.sub-folder{
    position: relative;
    color: darkgreen;
    font-size: 30px;
    left:629px;
    top:-10px;
    font-weight: bold;
}

  /* Quiz Container */
.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  font-family: Arial, sans-serif;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}


/* Question */
.question {
  margin-bottom: 20px;
  font-size: 23px;

}

/* Options */
.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

/* Buttons */
.q-button {
  position: relative;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #af3f82;
  color: white;
  font-size: 16px;
  top:20px;
}

.q-button:hover {
  background-color: #0056b3;
}

/* Modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
@media (max-width:800px) {
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 30%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    background-color: #fefefe;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
    z-index: 2; /* Adjust the z-index for responsiveness */
  }
}