/* Styles for the registration window */
.registration-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .message {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  .login-thank{
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #9e407b;
    color: white;
    font-size: 16px;
  }
  
  .login-thank:hover {
    background-color: #0056b3;
  }
  